doctype 5
html
  head
    title DuckDuckPage
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Belgrano')
    link(rel='search', type='application/opensearchdescription+xml', href='/opensearch.xml', title='DuckDuckPage')
    meta(name='description', content='DuckDuckPage lets you use DuckDuckGo for !bang queries and StartPage for everything else, so you get the best of both worlds.')
    script(type='text/javascript')
      function focusSearch() {
        if (document.getElementById("search-input")) {
          document.getElementById("search-input").focus();
        }
      }
  body(onload='focusSearch()')
    block content
